.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
}

.header-items>img {
    height: 100px;
    border: 3px solid;
    border-radius: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

ul>li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    padding-inline: 30px;
    background-color: #256af456;
    border-radius: 20px;
    /* width: 100px; */
    text-align: center;
    font-weight: 900;
    font-size: 1.4rem;
}

body {
    background-color: rgb(195, 143, 75);
}

img {
    cursor: pointer;
}

.dish-containers {
    display: flex;
    /* flex-direction: wrap; */
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    padding-inline: auto;
    justify-content: center;
}

.dish-card {
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    padding: 20px;
    background-color: rgb(50, 147, 114);
}

.dish-card img {
    border-radius: 20px;
    width: 90%;
}

p {
    margin: 5px;
}

.footer-section {

    text-align: center;
    margin: 50px 0;
    background-color: #88c8c8;
    padding: 10px 0;
    border: 2px solid;
    width: 50%;
    margin-inline: auto;
}

.footer-section p {
    font-size: 2rem;
    font-weight: 900;
}


.searchBar{
    padding: 5px;
    border-radius: 10px;

}

.search-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.search-container input{
    border-radius: 10px;
}
.pointer{
    cursor: pointer;
}


/* not founds data */

.not-found-data{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.not-found-data img{
    border-radius: 50%;
}